<%= render "/shared/navbar" %>

<div class="row">
<% @cocktails.each do |cocktail| %>
  <div class="card col-3 m-3" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/random/400x300" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
    
    <%= link_to "Add dose", cocktail_path(cocktail), class: "btn btn-primary" %>
  </div>

  </div>
<% end %>
</div>



